@import '~styles/tools/functions';
@import '~styles/prism';

$base-line-height: 1.4;
$base-font-size: 1.25em;
$vertical-rhythm: $base-line-height * $base-font-size;


.content {
  @include prims;
  @import '~styles/elements/headings';

  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 700px;
  margin: 0 auto;

  line-height: $base-line-height;

  p {
    font-size: $base-font-size;
    margin-bottom: $vertical-rhythm;
  }

  // p,
  // li {
  //   font-size: emCal(20px);
  //   line-height: 1.58;
  // }

  ul,
  ol {
    margin-left: 1.45rem;
    margin-bottom: 1.45rem;
  }

  li {
    position: relative;
    padding-bottom: 15px;
  }

  blockquote {
    margin-left: 0;
    padding-left: 1.45rem;
    border-left: 2px solid #fff;
  }
}
