.title {
  font-style: italic;
  font-size: 1.4444rem;
  font-weight: 400;
  position: relative;
  margin-top: 4rem;

  &::before {
    content: "";
    width: 1.5rem;
    left: -35px;
    height: 1px;
    background-color: #595c62;
    display: inline-block;
    position: absolute;
    top: 50%;

    @media (min-width: 768px) {
      width: 1.5rem;
      left: -40px;
    }

    @media (min-width: 1170px) {
      width: 3rem;
      left: -80px;
    }
  }
}
