.list {
  list-style-type: none;
  margin-top: 4rem;

  & + * {
    margin-top: 8rem;
  }
}

.listItem {
  & + li {
    margin-top: 1.45rem;
  }

  a {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media (min-width: calc(var(--bp-medium) * 1em)) {
      font-size: 1.5rem;
    }
  }
}

.date {
  color: #595c62;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}
