@import 'tools/functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: #1D2128;
  color: #fff;
  font-family: 'Lora', serif;
}

a {
  transition: opacity 0.3s ease 0s;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: underline;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

// p {
//   --min: 1.25em;   /* 20px */
//   --val: 2.5vw; /* preferred value = 2.5% viewport width */
//   --max: 1.5em; /* maximum value */
// }
