$base-line-height: 1.4;
$base-font-size: 1.25em;
$vertical-rhythm: $base-line-height * $base-font-size;

body {
  line-height: $base-line-height;
}

p {
  font-size: $base-font-size;
  margin-bottom: $vertical-rhythm;
}
