@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-menu,
  .btn-menu::before,
  .btn-menu::after {
    width: 20px;
    height: 2px;
    background-color: #fff;
  }

  .btn-menu::before,
  .btn-menu::after {
    content: '';
    display: block;
    position: absolute;
  }

  .btn-menu {
    @apply relative inline-block;
  }

  .btn-menu::before {
    top: -6px;
  }

  .btn-menu::after {
    top: 6px;
  }
}
