.hero {
  background-color: #111216;
  display: flex;
  align-items: center;

  h1 {
    font-size: 2.369rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      font-size: 3.157rem;
    }
  }
}
